*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

:root{
    --colorH5 : #161722;
    --t: uppercase;
}

a{
    text-decoration: none;
    display: inline-block;
    color: black;
}

ul{
    list-style-type: none;
}

h5{
    color: var(--colorH5);
    font-family: Roboto Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: var(--t);
}

h2{
    width: 592px;
    margin: 0 auto;
    color: var(--colorH5);
    font-family: Roboto Condensed;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -0.48px;
    text-transform: var(--t);
}

.common_button{
    padding: 20px 48px;
    border-radius: 12px;
    background-color: #FFD2A4;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
}

p{
    color: #161722;
    font-family: Roboto Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.container{
    width: 1280px;
    margin: 0 auto;
}

/* ============================ Navbar start ============================================= */

/* Navigation Bar Styles */
nav {
    background-color: #0D0D0D;
    padding: 12px;
}

.nav_details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_left {
    display: flex;
    column-gap: 128px;
    align-items: center;
}

.nav_menu ul {
    display: flex;
    column-gap: 48px;
}

.nav_menu ul a {
    color: #FFF;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
}

/* Button Styles */
.nav_button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}

.nav_button:hover {
    background-color: #0056b3;
}

/* Media Queries */
@media screen and (max-width: 575.98px) {
    .nav_left {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav_menu ul {
        flex-direction: column;
        row-gap: 12px;
    }

    .nav_details {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav_right {
        margin-top: 12px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {
    .nav_left {
        column-gap: 64px;
    }

    .nav_menu ul {
        column-gap: 24px;
    }

    .nav_right {
        margin-top: 12px;
    }
}

@media screen and (min-width: 768px) and (max-width: 921.98px) {
    .nav_left {
        column-gap: 96px;
    }

    .nav_menu ul {
        column-gap: 32px;
    }
}
@media screen and (min-width: 922px) {
    .container{
        max-width: 100%;
    }
    
}

/* ============================ Navbar End ============================================= */

/* ============================ Banner start ============================================= */

#banner{
    background: url(../images/banner.jpg) no-repeat center;
    background-size: cover;
}

.banner_wrapper{
    padding: 130px 0;
}

.banner_wrapper h5{
    width: 186px;
    padding-bottom: 16px;
    color: #FFF;
    font-weight: 700;
}

.banner_wrapper  h3{
    width: 592px;
    color: #FFF;
    font-family: Roboto Condensed;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: -0.64px;
    text-transform: uppercase;
}

.banner_wrapper p{
    width: 308px;
    color: #FFF;
    padding-left: 30px;
    position: relative;
}

.banner_wrapper p::before{
    content: "";
    width: 18px;
    height: 2px;
    background-color: #FFD2A4;
    position: absolute;
    left: 0;
    top: 12px;
}

.banner_button{
    margin: 32px 0 64px;
}

/* ============================ Banner end ============================================= */

/* ============================ Church start ============================================= */

.church_heading{
    text-align: center;
    padding-bottom: 64px;
}

#church .container{
    padding-top: 125px;
}

.church_card_1{
    background-color: #FFF5EB;
    padding: 80px;
    position: relative;
}

.church_card_1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 16px;
    background-color: #FFD2A4;
    top: 100%;
    left: 0;
    transform: translateY(-100%);
}

.church_card_1 h3{
    color: #161722;
    font-family: Roboto Condensed;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -0.32px;
    text-transform: uppercase;
    padding: 24px 0 8px 0;
}

.church_details{
    display: flex;
    justify-content: space-between;
}
.church_card_1 p{
    width: 251px;
}

/* ============================ Church Endt ============================================= */

/* ============================ /* Love  start ============================================= */

#love .container{
    padding: 126px;
}

.love_heading{
    text-align: center;
    padding-bottom: 72px;
}

.love_heading h2{
    padding: 16px 0 32px;
}

.love_heading p{
    width: 846px;
    margin: 0 auto;
}

.love_details{
    display: flex;
    column-gap: 24px;
}

.love_button{
    position: relative;
    top: 88px;
}

.love_details .love_image{
    height: 384px;
    width: 292px;
    overflow: hidden;
    border-radius: 30px;
}

.love_details .love_image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.love_details .love_image:nth-child(2){
    width: 384px;
    height: 512px;
    overflow: hidden;
    border-radius: 30px;
    margin-top: 64px;
}
.love_details .love_image:nth-child(2) img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.love_end{
    text-align: center;
    padding-top: 64px;
}

.love_end p{
    width: 512px;
    margin: 0 auto;
    padding-bottom: 16px;
}

.love_end h3{
    color: #161722;
    font-family: Roboto Condensed;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -0.32px;
    text-transform: uppercase;
    padding: 16px 0;
}
.love_end .love_a a{
    color: #161722;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
}
/* ============================ Love End ============================================= */

/* ============================ Benefits start ============================================= */
#benefits{
    background-color: #F5F2F0;
}
#benefits .container{
    padding: 128px 0;
}

.benefits_heading{
    text-align: center;
    padding-bottom: 64px;
}
.benefits_heading h2{
    width: 432px;
    font-size: 48px;
}

.benefits_images{
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
}

.benefits_images_1{
    background: url("../images/item_7.jpg") no-repeat center;
    background-size: cover;
    width: 302px;
}
.benefits_images_2{
    background: url("../images/item-2.jpg") center no-repeat;
    background-size: cover;
    width: 302px;
}
.benefits_images_3{
    background: url("../images/item_6.jpg")center no-repeat;
    background-size: cover;
    width: 302px;
}
.benefits_images_4{
    background: url("../images/item-5.jpg") center no-repeat;
    background-size: cover;
    width: 302px;
}

.benefits_images .padding_usefull{
    padding: 208px 32px 32px;
    opacity: 0;
    transition: 0.7s;
}
.benefits_images .padding_usefull:hover{
    padding: 208px 32px 32px;
    opacity: 1;
}

.benefits_images h3{
    color: #FFF;
    font-family: Roboto Condensed;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.24px;
    text-transform: uppercase;
}

.benefits_images p{
    width: 238px;
    padding-top: 16px;
    color: #FFF;
}

/* ============================ Benefits End ============================================= */

/* ============================ Join start ============================================= */

#join .container{
    padding: 128px 0;
    position: relative;
}

.join_heading{
    text-align: center;
}

.join_left h5{
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.96px;
}

.join_left h3{
    width: 210px;
    color: #161722;
    font-family: Roboto Condensed;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.24px;
    text-transform: uppercase;
    padding: 16px 0;
}

.join_details{
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    
}

.join_left{
    padding: 61px 90px;
    background-color: #FFF5EB;
    position: relative;
}
.join_left::after{
    content: '20 JULY';
    top: 32px;
    left: 371px;
    width: 32px;
    height: 47px;
    position: absolute;
    color: #161722;
    font-family: Roboto Condensed;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.24px;
}

.join_left p{
    width: 256px;
}
.join_left_time{
    display: flex;
    column-gap: 16px;
    padding: 32px 0 16px;
}

.join_left_location{
    display: flex;
    column-gap: 16px;
    padding-bottom: 32px;
}
.join_left_time i{
    font-size: 20px;
}
.join_left_time p{
    width: 137px;
}

.join_left_location p{
    width: 184px;
}

.join_right{
    width: 845px;
    height: 512px;
}

.join_right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.join_last{
    position: absolute;
    top: 89%;
    left: 84%;
    display: flex;
    padding-right: 35px;
    align-items: center;
}

.join_last h5 {
    position: relative;
    font-size: 24px;
    font-weight: 400;
    text-transform: none;
    line-height: 32px;
}
.join_last i{
    position: absolute;
    left: 100%;
    transform: translateX(-100%);
}
.join_left_btn{
    background-color: #161722;
    color: #FFD2A4;
}

/* ============================ Join End ============================================= */

/* ============================ We start ============================================= */

#we{
    background: url("../images/we.jpg") center no-repeat;
    background-size: cover;
}
.we_content{
    padding: 128px 300px;
}
.we_for_bg{
    padding: 72px 48px 56px;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.we_details_left h2{
    width: 368px;
    font-size: 48px;
    margin: 0;
}

.we_details_left p{
    width: 302px;
    padding: 16px 0;
} 


/* ============================ We End ============================================= */

/* ============================ Share start ============================================= */

#share .container{
    padding: 128px 0;
}

.share_heading{
    text-align: center;
}

.share_heading h2{
    font-size: 48px;
    padding-top: 16px;
}

.share_details{
    padding-top: 64px;
    display: flex;
    column-gap: 24px;
}

.share_card{
    background-color: #FFF5EB;
    padding: 48px 32px 32px;
    position: relative;
}

.share_card:hover::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 16px;
    background-color: #FFD2A4;
    top: 100%;
    left: 0;
    transform: translateY(-100%);
}

.share_card h5{
    font-size: 12px;
    color: #A54E2B;
    letter-spacing: 0.96px;
    font-weight: 700;
}
.share_card h3{
    width: 218px;
    color: #161722;
    font-family: Roboto Condensed;
    font-size: 24px;
    letter-spacing: -0.24px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 16px 0;
}

.share_card .share_pera_2{
    padding: 48px 0 4px;
}
/* ============================ Share End ============================================= */

/* ============================ Footer start ============================================= */

#footer_start{
    background-color: #161722;
}

.footer_section_1 .pc{
    color: #FFF;
}

.footer_logo_details_pera_1{
   padding: 16px 0 32px;
}
.footer_logo_details_pera_3{
    padding: 16px 0;
}

#footer_start .container{
    display: flex;
    justify-content: space-between;
    padding: 64px 0;
}

.footer_section_2_menu_1_head{
    padding-bottom: 20px;
    color: #FFF;
    text-align: right;
    font-family: Roboto Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.footer_section_2_menu_1_list{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.footer_section_2_menu_1_list li{
    font-family: Roboto Condensed;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.footer_section_2_menu_1_list a{
    color: #FFF;
}

.footer_section_2{
    display: flex;
    column-gap: 72px;
}

.footer_section_2_menu_2_head{
    color: #FFF;
    font-family: Roboto Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 20px;
}

.footer_section_2_menu_2_list{
    display: flex;
    column-gap: 20px;
}

.footer_section_2_menu_2_list li a{
    height: 24px;
    width: 24px;
    background-color: #FFD2A4;
    border-radius: 50%;
}
.facebook{
    color: #1877F2;
}
.twitter{
    color: #1DA1F2;
}
.linkedin{
    color: #0072b1 ;
}

.footer_section_2_menu_2_list li a i{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_section_3 h2{
    color: #FFF;
    width: 377px;
    font-size: 32px;
    line-height: 44px; 
    letter-spacing: -0.32px;
    padding-bottom: 32px;
    margin: 0;
}

.footer_section_3{
    width: 512px;
}

.footer_section_3_form{
    position: relative;
}

.footer_section_3_input{
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.15);
    color: #FFF;
    font-family: Roboto Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding: 20px 205px 20px 20px;
    border-radius: 12px;
    background-color: #161722;
}
.footer_from_btn{
    position: absolute;
    left: 100%;
    transform: translateX(-100%);
    height: 100%;
    padding: 24px 64px;
}